<!DOCTYPE html>
<html ng-app="beerCrawl">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <script src="/scripts/angular.min.js" ></script>
    <script src="/scripts/angular-route.min.js" ></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/app.HomeCtrl.js"></script>
    <script src="/scripts/app.UserCtrl.js"></script>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>
