<!DOCTYPE html>
<html ng-app="beerCrawl">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Ravi+Prakash" rel="stylesheet">
    <script src="/scripts/barData.js"></script>
    <script src="/scripts/angular.min.js" ></script>
    <script src="/scripts/angular-route.min.js" ></script>
    <script src="/scripts/angular-filter.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script asyc defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAdj4X8GhlGCvCOXXJrRB_BbzpnMjnE33Q&language=en"></script>
    <script src="/scripts/app.EventCtrl.js"></script>
    <script src="/scripts/app.HomeCtrl.js"></script>
    <script src="/scripts/app.UserCtrl.js"></script>
    <script src="/scripts/app.TeamCtrl.js"></script>
  </head>

  <body>

  <section>
    <header>
      <nav>
        <ul>
          <li><a href="/#!/home">HOME</a></li>
          <li><a href="/#!/about">ABOUT</a></li>
          <li><a href="/#!/contact">CONTACT</a></li>
          <li><a href="/#!/account/login">LOGIN</a></li>
          <li><a href="/#!/account/register">REGISTER</a></li>
          <li><a href="/#!/account/event">EVENTS</a></li>
        </ul>
      </nav>
            <!-- <div class="border"></div> -->
      <img class="logo" src="images/logo-1.svg">
      <!-- <div class="logo"></div> -->
    </header>
      <div class="line-seperator"></div>
  </section>
      <div ng-view></div>
  </body>
</html>
