<form ng-submit="createTeam(team_name)">
    <input type="text" ng-model="team_name" placeholder="team name">
    <input type="submit" value="CREATE TEAM">
</form>
<section>
    <article ng-repeat="team in posts">
        <h3 ng-mouseover="showTeamJoin()">{{team.team_name}}</h3>
        <div ng-show="teamJoiner">
            <form ng-submit="joinTeam(team_name, user_id)">
                <input type="hidden" ng-model="team_name">
                <input type="hidden" ng-model="user_id">
                <input type="submit" value="JOIN {{team.team_name}}" >
            </form>
        </div>
    </article>
</section>
