body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px; }

a {
  color: #000000;
  text-decoration: none; }

.team-name {
  height: 50px;
  margin: 0;
  padding: 0;
  width: 50%; }

.team-join-button {
  float: left; }

#event-list {
  width: 50%;
  float: right;
  clear: both; }

#map {
  height: 500px;
  width: 500px; }

.infoWindowContent {
  font-size: 12px;
  border-top: 1px solid #ccc;
  padding-top: 10px; }

h2 {
  margin-bottom: 4px;
  margin-top: 2px;
  font-size: 16px; }

#repeat {
  display: inline;
  padding: 1%; }

h4 {
  margin-bottom: 4px;
  margin-top: 2px; }
