* {
	margin: 0;
	padding: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Ravi Prakash', cursive;
    font-size: 16px;
    // background-color: #66a5a4;
    // overflow: scroll;
}
section {
	background: #fbf8cd;	
}
header {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	position: relative;

}
nav li {
	display: inline-block;
	padding: 40px 40px 40px 0;
	font-family: 'Bungee Inline', cursive;
	color: #e9563a;
}
nav li:nth-child(3) {
	padding-right: 120px;

}
nav li:nth-child(4) {
	padding-left: 120px;
}
// div.logo {
// 	background: url(logo-1.svg) 50% 0 no-repeat;
// 	background-size: 60px 60px;
// 	width: 60px;
// 	height: 60px;
// 	position: absolute;
// 	top: 20px;
// 	left: 460px;
// }
.logo {
	background-size: 130px 130px;
	width: 130px;
	height: 130px;
	position: absolute;
	top: 10px;
	left: 440px;
	overflow:
}
// .border {
// 	width: 2000px;
// 	height: 7px;
// 	background-color: #414242;
// 	// margin: 0 auto;
// 	top: 80px;
// 	text-align: center;
// 	position: absolute;

// }
.line-seperator{
	height: 5px;
	width: 100%;
	top: 80px;
	background: #414242;
	border-bottom: 1px solid #414242;
}
// #home {
// 	// margin: 40px 40px 40px 40px;
// 	// padding:  40px 30px 40px 0;
// }

a {
    color: #e9563a;
    text-decoration: none;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
}



//this made part of it but it's cutting off image

// .hometop {

// 	position: relative;
// 	margin: 0 auto;
// 	left: 0px;
// 	display: block;
// 	height: 100%;
// 	width: 100%;
// 	background-position: center center no-repeat;
// 	background-size: 100%;
// }
// .feature_text{
// 	position:absolute;
// 	right: 25px;
// 	top: 105px;
// }
// .feature_button1{
// 	right: 25px;
// 	bottom: 125px;
// 	position: absolute;
// }
// .feature_button1{
// 	right: 25px;
// 	bottom: 145px;
// 	position: absolute;
// }


// .hometop{
// 	width: 960px;
// 	height: 569px;
// 	margin: 0 auto;
// 	text-align: left;
// 	position: relative;
// }

// .hometop{
// 	// background: url(images/home-top-map.png)
// 	// background-size:cover;
// 	// background-size: 960px 568px;
// 	// width: 960px;
// 	// height: 568px;
// 	margin: 0px auto;
// 	top: 57px;
// 	left: 0px;
// 	position: absolute;


// }

// button {
// 	color: black;
// }
