body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px; }

a {
  color: #000000;
  text-decoration: none; }

.team-name {
  height: 50px;
  margin: 0;
  padding: 0;
  width: 50%; }

.team-join-button {
  float: left; }

#event-list {
  width: 50%;
  float: right;
  clear: both; }
